body {
  font-family: 'Georgia', serif;
  background-image: url(../img/main/main1.png);
  background-color: #f5f3e7;
  /* color: #4b3b2a; */
  color: white;
  margin: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background-color: #f9f5e8;
  background-image: url(../img/01.jpg);
  padding: 20px;
  border: 1px solid #c4b094;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="time"], textarea, select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
  border: 1px solid #a77f5b;
  background-color: #f1e4d3;
  color: #4b3b2a;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #6b5e45;
  color: #f9f5e8;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Georgia', serif;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #574c3b;
}

.flex-schedule {
  list-style-type: none;
  padding: 0;
}

.schedule-item, .suggested-item {
  background-color: #f0e3d0;
  padding: 15px;
  margin: 8px 0;
  border: 1px solid #a77f5b;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
  font-weight: bold;
  color: #4b3b2a;
}

.sch_title {
  font-size: 18px;
  color: #5e4b3b;
  margin-top: 5px;
}

.sch_tx {
  color: #6d5c47;
}

#map {
  height: 300px;
  margin: 20px 0;
  border: 1px solid #c4b094;
  border-radius: 4px;
}

.thumbnail {
  width: 80px;
  height: 60px;
  object-fit: cover;
  margin-right: 5px;
  border-radius: 3px;
  border: 1px solid #c4b094;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
